---
import Wave from "../assets/wave.svg";
import appLogo from "../assets/logo.png";
import DownloadButtons from "./DownloadButtons.astro";
---

<section class="background-gradient-rtl">
  <div
    class="container text-center lg:text-start flex flex-col-reverse lg:flex-row items-center justify-center lg:justify-evenly flex-1 gap-5"
  >
    <div class="flex gap-5 flex-col max-w-[600px]">
      <h1 class="font-bold text-3xl sm:text-4xl">
        Browse your Deno KV Databases with your eyes 👀!
      </h1>
      <p class="text-base sm:text-xl text-muted-foreground font-medium">
        Open-source <strong>desktop application</strong> client for browsing and
        managing <strong>Deno KV Databases</strong> in a modern GUI
      </p>
      <DownloadButtons />
    </div>
    <img
      class="w-full max-w-[220px] sm:max-w-[290px] lg:max-w-[370px]"
      src={appLogo.src}
      id="logo"
      alt="App Logo"
      fetchpriority="high"
    />
  </div>
  <Wave class="w-full fill-surface translate-y-0.5" />
</section>

<style>
  #logo {
    animation-duration: 3s;
    animation-name: bound-logo;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }

  @keyframes bound-logo {
    from {
      transform: translateY(-25px);
      rotate: 0deg;
    }

    to {
      transform: translateY(25px);
      rotate: 7deg;
    }
  }
</style>
