name: CI/CD

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.d.ts"
      - "LICENSE"
      - "landing/**"
      - "screenshots/*"
      - ".versionrc.json"
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore:
      - "**/*.md"
      - "**/*.d.ts"
      - "LICENSE"
      - "landing/**"
      - "screenshots/*"
      - ".versionrc.json"

concurrency:
  group: ${{github.workflow}}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  compile-and-test:
    permissions:
      contents: write
      id-token: write
      attestations: write
    uses: ./.github/workflows/compile-and-test.yml
