name: Compile and test the app

on:
  workflow_call:

defaults:
  run:
    shell: "bash"

jobs:
  compile-and-test:
    permissions:
      contents: write
      id-token: write
      attestations: write
    
    env:
      NODE_NO_WARNINGS: 1
      PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
      npm_config_audit: false
      npm_config_fund: false
      USE_HARD_LINKS: false

    runs-on: macos-15-intel

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ">=23.0.0"

      - run: npm install
      - run: npm run compile -- -p never
      - run: ls -lR dist/mac/denokv-gui-client.app/Contents/Resources/app.asar.unpacked/node_modules/@deno/kv-*
      - run: ls -lR dist/mac/denokv-gui-client.app/Contents/Resources/app.asar.unpacked/node_modules/@deno

      - uses: actions/attest-build-provenance@v2
        with:
          subject-path: "dist/denokv-gui-client*, dist/latest*.yml"

      - name: Upload compiled app
        uses: actions/upload-artifact@v4
        with:
          name: macos-15-intel
          path: dist
